<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Diagnoses</title>
        <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<h1 class="logo">
    <img src="../static/Images/logo/logo.png" alt="Logo">
    👨‍💻 Symptom Diagnoses
</h1>
<label>
   <input type="text" placeholder="Search..">
</label>

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div  id="navbarNav">
        <ul class="navbar-nav">
            <!-- Home link -->
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <!-- Symptom Checker link -->
            <li class="nav-item">
                <a class="nav-link" href="/symptomChecker">Symptom Checker</a>
            </li>
            <!-- About link -->
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <!-- Contact Us link -->
            <li class="nav-item">
                <a class="nav-link" href="/contact-us">Contact Us</a>
            </li>
            <!-- Login/Register link -->
            <li class="nav-item">
                <a class="nav-link" href="/register">Login/Register</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
